@tailwind base;
@tailwind components;
@tailwind utilities;
@import url('https://fonts.googleapis.com/css2?family=Ubuntu:ital,wght@0,300;0,400;0,500;1,400&display=swap');
@import url('https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.3.0/css/all.min.css');

/* :root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}
*/

*{
  text-decoration: none;
  font-family: 'Ubuntu', sans-serif;
  box-sizing: border-box;
  color: #222525;
  margin: 0;
  padding: 0;
  top: 0;
}

body{
  overflow-x: clip;
  display: flow-root;
  overflow-wrap: break-word;
  height: 100%;
  max-width: 100%;
  box-sizing: border-box;
  background: #f8f5f2;
  /* background-color: black; */
}

body::-webkit-scrollbar{
  display: none;
}

h1{
  font-size: 4rem;
  font-weight: 800;
  font-variant: small-caps;
  color: #232323;
}

h2{
  font-size: 3rem;
  font-weight: 700;
  font-variant: small-caps;
}

h3{
  font-size: 2rem;
  font-weight: 600;
  font-variant: small-caps;
}

h4{
  font-size: .9rem;
  font-weight: 600;
  font-variant: small-caps;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}


